<%= form_with url: answers_path, method: :post, data: { turbo: false }, id: 'ai_questions' do |form| %>
  <div class="text-center mb-5 text-2xl text-white">
    <%= question.text %>
  </div>
  <% @answers.each do |answer| %>
    <div class="flex items-center mb-2 text-white text-xl gap-2">
      <%= form.radio_button "answer[question#{question.number}]", answer.value, required: :true %>
      <%= form.label "answer[question#{question.number}]_#{answer.value}", answer.text %>
    </div>
  <% end %>
  <div class="w-full flex justify-center">
    <%= form.submit '次へ', class:"btn bg-white rounded-md text-black border-none shadow-2xl hover:bg-white" %>
  </div>
<% end %>

<% if question.number == 1 %>
  <% breadcrumb :question_1, question %>
<% else %>
  <% breadcrumb :question_3, question %>
<% end %>