<div class="carousel-item flex-col items-center">
  <h2 class="text-base sm:text-lg md:text-xl mb-4">
    <%= title_line1 %><br>
    <%= title_line2 %><br>
  </h2>
  <div class="<%= id %> mb-20 relative border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[556px] w-[278px] md:h-[600px] md:w-[300px]">
    <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
    <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
    <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
    <div class="rounded-[2rem] overflow-hidden w-[250px] h-[526px] md:w-[272px] md:h-[572px] bg-white dark:bg-gray-800">
      <a href="<%= image_url %>"><img src="<%= image_url %>" class="w-[250px] h-[526px] md:w-[272px] md:h-[572px]" alt="Image"/></a>
    </div>
  </div>
</div>
