<div class="lg:flex lg:justify-center lg:space-x-40">
  <div id="ai" class="flex flex-col items-center">
    <div>
      <h1 class="w-full font-bold text-xl md:text-2xl p-10 text-center">メイン機能①　AIによるメッセージ提案</h1>
      <div class="carousel carousel-center rounded-box w-[330px] md:w-auto max-w-md space-x-4 p-4">
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "3つの質問に答えるだけで・・・", title_line2: "　", id: "ai-question", image_url: "https://i.gyazo.com/0df6a54f3e60ceab5f6c4aceb0647302.png" } %>
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "AIが「久しぶりに友だちに送る", title_line2: "最適なメッセージ」を提案します！", id: "ai-message", image_url: "https://i.gyazo.com/9e61174af5f2e7a5be05a0c71df88d27.png" } %>
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "提案されたメッセージは", title_line2: "自分好みに編集できるよ！", id: "ai-message-edit", image_url: "https://i.gyazo.com/5e3e4acda8c81a07d94d4598ec4fb99e.gif" } %>
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "提案されたメッセージは", title_line2: "ワンクリックでコピーできるよ！", id: "ai-message-copy", image_url: "https://i.gyazo.com/4f6a5ba18395f87ba2bac133ba5297f2.gif" } %>
      </div>
    </div>
  </div>

  <div id="notification" class="flex flex-col items-center">
    <div>
      <h1 class="w-full font-bold text-xl md:text-2xl p-10 text-center">メイン機能②　LINEへの通知機能</h1>
      <div class="carousel carousel-center rounded-box w-[330px] md:w-auto max-w-md space-x-4 p-4">
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "友だちの誕生日を登録すると・・・", title_line2: "　", id: "notification-settings", image_url: "https://i.gyazo.com/4d62c7d5547124cd47f3004ec408606f.gif" } %>
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "LINEにリマインド通知が届くよ！", title_line2: "　", id: "line-notification", image_url: "https://i.gyazo.com/9e1a6a86a2080cd635cdc62862706b13.png" } %>
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "個別の通知はマイページから", title_line2: "一括でOFFにできるよ！", id: "mypage-notification", image_url: "https://i.gyazo.com/0fec8e352137184983b324b4236b5bb9.gif" } %>
      </div>
    </div>
  </div>
</div>

<div class="lg:flex lg:justify-center lg:space-x-40">
  <div id="profiles" class="flex flex-col items-center">
    <div>
      <h1 class="w-full font-bold text-xl md:text-2xl p-10 text-center">メイン機能③　連絡帳</h1>
      <div class="carousel carousel-center rounded-box w-[330px] md:w-auto max-w-md space-x-4 p-4">
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "友だちの連絡先を", title_line2: "一覧で管理できるよ！", id: "profiles-index-mobile", image_url: "https://i.gyazo.com/878eba96ee6a2812542cb5cf949aafb6.png" } %>
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "今月誕生日の友だちを", title_line2: "バナーでお知らせするよ！", id: "banner", image_url: "https://i.gyazo.com/fc45b3a7df6f491bb3d55cd9817386d0.png" } %>
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "名前で検索できるよ！", title_line2: "　", id: "profiles-index-search", image_url: "https://i.gyazo.com/bd453d018d247ac4d2450078af3bb19a.gif" } %>
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "名前や最後に連絡した日で", title_line2: "ソートできるよ！", id: "sort", image_url: "https://i.gyazo.com/28665ed181ca49dbd82d4e19e8eb1e2f.gif" } %>
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "グループを作成できるよ！", title_line2: "　", id: "group-create", image_url: "https://i.gyazo.com/67fa07e80238a69efe1c8fd7e29b7c77.gif" } %>
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "グループでフィルターをかけれるよ！", title_line2: "　", id: "group-filtering", image_url: "https://i.gyazo.com/eab3db973298f8d1c8dd267a01579422.gif" } %>
      </div>
    </div>
  </div>

  <div id="album" class="flex flex-col items-center">
    <div>
      <h1 class="w-full font-bold text-xl md:text-2xl p-10 text-center">メイン機能④　アルバム</h1>
      <div class="carousel carousel-center rounded-box w-[330px] md:w-auto max-w-md space-x-4 p-4">
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "友だちとの思い出を", title_line2: "アルバムに保存できるよ！", id: "album-index", image_url: "https://i.gyazo.com/25d1fdd20ee5d07a51f95ffe4a3db93b.png" } %>
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "写真と日記を", title_line2: "アルバムに保存できるよ！", id: "album-show", image_url: "https://i.gyazo.com/8dc63b7989659f9bd042794108504224.png" } %>
      </div>
    </div>
  </div>
</div>

<div class="lg:flex lg:justify-center lg:space-x-40">
  <div id="calendar" class="flex flex-col items-center md:w-[448px]">
    <div>
      <h1 class="w-full font-bold text-xl md:text-2xl p-10 text-center">メイン機能⑤　カレンダー</h1>
      <div class="carousel carousel-center rounded-box w-[330px] md:w-auto max-w-md space-x-4 p-4">
        <%= render partial: "carousel_item_mobile", locals: { title_line1: "登録した友だちの誕生日を", title_line2: "カレンダー形式で見れるよ！", id: "calendar", image_url: "https://i.gyazo.com/599ff27249c3bd7c28a48a334b0ab865.png" } %>
      </div>
    </div>
  </div>

  <div id="notification" class="flex flex-col items-center mb-20 md:mb-0">
    <div>
      <h1 class="w-full font-bold text-xl md:text-2xl p-10 text-center">その他　レスポンシブデザイン</h1>
      <div class="carousel carousel-center rounded-box max-w-md space-x-4 p-4">
        <%= render partial: "carousel_item_pc", locals: { title: "パソコンでも使いやすいデザインだよ！", image_url: "https://i.gyazo.com/8e7edbda0191abc0d0ba3150bff8dcf1.png", img_class: "w-[400px]" } %>
        <%= render partial: "carousel_item_pc", locals: { title: "　", image_url: "https://i.gyazo.com/84f5936d87b9d701babca798a3cb69fb.jpg", img_class: "w-[400px]" } %>
        <%= render partial: "carousel_item_pc", locals: { title: "　", image_url: "https://i.gyazo.com/6e9109353981a83615b519878fd72eb7.png", img_class: "w-[400px]" } %>
      </div>
    </div>
  </div>
</div>