<% content_for(:tab_title, "Stay Friends") %>

<div class="min-h-screen bg-ivory-white bg-cover flex flex-col md:flex-row">
  <div id="left-side" class="md:w-1/2 flex items-center flex-col mt-32 ml-8">
    <div>
      <%= image_tag("ogp.png") %>
    </div>
    <div id="buttons" class="flex space-x-10">
      <div id="button-1" class="space-y-2">
        <div class="flex justify-center">
          <%= link_to introduction_path(1) do %>
            <button class="btn bg-golden text-black border-none hover:bg-yellow-500 shadow-2xl">メッセージを作成する</button>
          <% end %>
        </div>
        <div class="w-fit p-2 rounded-xl text-center">
          <p class="text-base md:text-lg lg:text-sm text-black md:text-shadow-white mb-2 md:mb-0">３つの質問に答えるだけで、</p>
          <p class="text-base md:text-lg lg:text-sm text-black md:text-shadow-white">最適なメッセージを提案します</p>
        </div>      </div>
      <div id="button-2" class="space-y-2">
        <div id="right-button" class="flex justify-center">
          <%= link_to profiles_path do %>
            <button class="btn bg-peach-red text-black border-none hover:bg-red-500 shadow-2xl">ともだち帳をひらく</button>
          <% end %>
        </div>
        <div class="w-fit p-2 rounded-xl text-center">
          <p class="text-base md:text-lg lg:text-sm text-black md:text-shadow-white">ともだちの大切な日が近づくと</p>
          <p class="text-base md:text-lg lg:text-sm text-black md:text-shadow-white">LINE通知を受け取れます</p>
        </div>
      </div>
    </div>
  </div>
  <div id="right-side" class="md:w-1/2 flex flex-col items-center mt-64">
    <%= image_tag("kids.jpg", class: "w-[500px] shadow-2xl") %>
  </div>
</div>

<!--
<div class="min-h-screen bg-[url('top_second_bg.jpg')] bg-cover flex flex-col md:flex-row">
  <div id="left-side" class="md:w-1/2 flex items-center flex-col mt-32 md:mt-40">
    <div id="left-text" class="text-white text-center">
      <h1 class="text-4xl md:text-4xl lg:text-5xl xl:text-6xl text-shadow-gray-md mb-3 md:mb-10">また、つながろう。</h1>
      <h1 class="text-4xl md:text-4xl lg:text-5xl xl:text-6xl text-shadow-gray-md mb-6 md:mb-12">私の大切なともだちと</h1>
    </div>
    <div class="bg-white bg-opacity-20 w-fit p-2 rounded-xl text-center">
      <p class="text-base md:text-lg lg:text-2xl font-medium text-black md:text-shadow-white mb-2">昔のともだちに、連絡を取ってみませんか？</p>
      <p class="text-base md:text-lg lg:text-2xl font-medium text-black md:text-shadow-white mb-2 md:mb-0">３つの質問に答えるだけで、</p>
      <p class="text-base md:text-lg lg:text-2xl font-medium text-black md:text-shadow-white">最適なメッセージを提案します</p>
    </div>
    <div id="left-button" class="flex justify-center mt-6">
      <%= link_to introduction_path(1) do %>
        <button class="btn bg-golden text-black border-none hover:bg-yellow-500 shadow-2xl">メッセージを作成する</button>
      <% end %>
    </div>
  </div>
  <div id="right-side" class="md:w-1/2 flex flex-col items-center justify-end mb-32 mt-20 md:mt-20">
    <div id="right-text" class="text-white text-center">
      <h1 class="text-4xl md:text-4xl lg:text-5xl xl:text-6xl text-shadow-gray-lg mb-3 md:mb-10">つながりつづけよう。</h1>
      <h1 class="text-4xl md:text-4xl lg:text-5xl xl:text-6xl text-shadow-gray-lg mb-6 md:mb-12">これからも、ずっと</h1>
    </div>
    <div class="bg-white bg-opacity-20 w-fit p-2 rounded-xl text-center">
      <p class="text-base md:text-lg lg:text-2xl font-medium text-black md:text-shadow-white mb-2">ともだちの大切な日が近づくと</p>
      <p class="text-base md:text-lg lg:text-2xl font-medium text-black md:text-shadow-white">LINE通知を受け取れます</p>
    </div>
    <div id="right-button" class="flex justify-center mt-6">
      <%= link_to profiles_path do %>
        <button class="btn bg-peach-red text-black border-none hover:bg-red-500 shadow-2xl">ともだち帳をひらく</button>
      <% end %>
    </div>
    </div>
  </div>
</div>
-->