<!---スマホ画面用のテーブル--->
<table class="w-full sm:hidden">
  <tr>
    <td class="w-1/2 text-center">今月のイベント！</td>
    <td class="w-1/2 text-center">来月のイベント！</td>
  </tr>
  <tr>
    <td class="align-top">
      <div class="m-3">
        <% profiles_birthdays_this_month.each do |profile| %>
          <div>
            <%= profile.name %>さん
            <i class="fa-solid fa-cake-candles"></i>
          </div>
        <% end %>
        <% profiles_special_day_this_month.each do |profile| %>
          <div>
            <%= profile.name %>さん
            <i class="fa-solid fa-calendar-check"></i>
          </div>
        <% end %>
      </div>
    </td>
    <td class="align-top">
      <div class="m-3">
        <% profiles_birthdays_next_month.each do |profile| %>
          <div>
            <%= profile.name %>さん
            <i class="fa-solid fa-cake-candles"></i>
          </div>
        <% end %>
        <% profiles_special_day_next_month.each do |profile| %>
          <div>
            <%= profile.name %>さん
            <i class="fa-solid fa-calendar-check"></i>
          </div>
        <% end %>
      </div>
    </td>
  </tr>
</table>

<!---PC画面用のテーブル--->
<table class="hidden sm:table">
  <tr>
    <td>今月のイベント！</td>
    <% profiles_birthdays_this_month.each do |profile| %>
      <td>
        <%= profile.name %>さん
        <i class="fa-solid fa-cake-candles"></i>
      </td>
    <% end %>
    <% profiles_special_day_this_month.each do |profile| %>
      <td>
        <%= profile.name %>さん
        <i class="fa-solid fa-calendar-check"></i>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>来月のイベント！</td>
    <% profiles_birthdays_next_month.each do |profile| %>
      <td>
        <%= profile.name %>さん
        <i class="fa-solid fa-cake-candles"></i>
      </td>
    <% end %>
    <% profiles_special_day_next_month.each do |profile| %>
      <td>
        <%= profile.name %>さん
        <i class="fa-solid fa-calendar-check"></i>
      </td>
    <% end %>
  </tr>
</table>