<div id="outer-frame" class="flex h-full flex-col md:flex-row">
  <% if defined?(profile) && profile.persisted? %>
    <%= render "shared/sidebar", profile: profile %>
    <%= render "shared/top_tab", profile: profile %>
  <% end %>

  <div id="right-section" class="flex flex-col w-full items-center mt-5 md:mt-10 mb-20 md:mb-10">
    <div id="card" class="md:border md:rounded-3xl md:border-slate-100 md:p-10 md:mt-10 md:bg-opacity-10 md:shadow-2xl h-full overflow-auto">
      <div>
        <h1 class="text-3xl font-bold pt-10 md:pt-0 pb-10">連絡先フォーム</h1>
      </div>
      <div>
        <%= form_with model: profile, data: { turbo: false } do |profile_form| %>
          <%= render 'shared/error_messages', model: profile_form.object %>

          <div class="mb-4">
            <%= profile_form.label :name, '名前', class: "block font-medium mb-1 text-black" %>
            <%= profile_form.text_field :name, class: "w-full rounded p-2 bg-white border border-gray-400" %>
          </div>

          <div class="mb-4">
            <%= profile_form.label :furigana, 'フリガナ', class: "block font-medium mb-1 text-black" %>
            <%= profile_form.text_field :furigana, class: "w-full rounded p-2 bg-white border border-gray-400" %>
          </div>

          <% @profile.events.each do |event| %>
            <%= profile_form.fields_for :events, event do |event_form| %>
              <% if event.name == '誕生日' %>
                <div class="flex mb-1 items-center">
                  <i class="fa-solid fa-cake-candles fa-sm"></i>
                  <%= event_form.label :date, event.name, class: "block font-medium text-black mx-1" %>
                </div>
                <%= event_form.date_field :date, class: "block font-medium mb-5 bg-button-gray text-white border border-gray-400 rounded" %>
                <%= event_form.hidden_field :name, value: event.name %>
              <% else %>
                <div class="flex mb-1 items-center">
                  <i class="fa-solid fa-calendar-check fa-sm"></i>
                  <%= event_form.text_field :name, placeholder: event.name, size: event.name.length, class: "block font-medium rounded pl-1 pr-7 mx-1 text-black bg-white border border-gray-400 " %>
                </div>
                <%= event_form.date_field :date, class: "block font-medium mb-5 bg-button-gray text-white border border-gray-400 rounded" %>
              <% end %>
            <% end %>
          <% end %>

          <div class="mb-4">
            <div class="flex mb-1 items-center">
              <i class="fa-solid fa-phone fa-sm"></i>
              <%= profile_form.label :phone, '電話番号', class: "block font-medium text-black mx-1" %>
            </div>
            <%= profile_form.text_field :phone, class: "w-full rounded p-2 bg-white border border-gray-400" %>
          </div>

          <div class="mb-4">
            <div class="flex mb-1 items-center">
              <i class="fa-regular fa-envelope fa-sm"></i>
              <%= profile_form.label :email, 'メールアドレス', class: "block font-medium text-black mx-1" %>
            </div>
            <%= profile_form.text_field :email, class: "w-full rounded p-2 bg-white border border-gray-400" %>
          </div>

          <div class="mb-4">
            <div class="flex mb-1 items-center">
              <i class="fa-solid fa-location-dot fa-sm"></i>
              <%= profile_form.label :address, '住所', class: "block font-medium text-black mx-1" %>
            </div>
            <%= profile_form.text_field :address, class: "w-full rounded p-2 bg-white border border-gray-400" %>
          </div>

          <div class="mb-4">
            <div class="flex mb-1 items-center">
              <i class="fa-brands fa-line fa-sm"></i>
              <%= profile_form.label :line_name, 'LINEの名前', class: "block font-medium text-black mx-1" %>
            </div>
            <%= profile_form.text_field :line_name, class: "w-full rounded p-2 bg-white border border-gray-400" %>
          </div>

          <div class="mb-4">
            <div class="flex mb-1 items-center">
              <i class="fa-solid fa-check fa-sm"></i>
              <%= profile_form.label :last_contacted, '最後に連絡した日', class: "block font-medium text-black mx-1" %>
            </div>
            <%= profile_form.select :last_contacted, Profile.last_contacteds_i18n.map { |key, value| [value, key] },  { include_blank: true }, class: "w-full rounded p-2 bg-white border border-gray-400" %>
          </div>

          <div class="mb-4">
            <div class="flex mb-1 items-center">
              <i class="fa-solid fa-pencil fa-sm"></i>
              <%= profile_form.label :note, 'メモ', class: "block font-medium text-black mx-1" %>
            </div>
            <%= profile_form.text_area :note, class: "w-full rounded p-2 bg-white border border-gray-400" %>
          </div>

          <div class="mb-4">
            <div class="flex mb-1 items-center">
              <i class="fa-regular fa-image fa-sm"></i>
              <%= profile_form.label :avatar, 'プロフィール画像', class: "block font-medium text-black mx-1" %>
            </div>
            <%= profile_form.file_field :avatar, class: "rounded p-2" %>
          </div>

          <div class="flex justify-center mb-20 md:mb-0">
            <%= profile_form.submit '登録する', class: "btn bg-golden text-black border-none hover:bg-yellow-500" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
