<div class="flex justify-between items-center">
  <div>
    <%= render "event_notice",
        profiles_birthdays_this_month: @profiles_birthdays_this_month,
        profiles_birthdays_next_month: @profiles_birthdays_next_month,
        profiles_special_day_this_month: @profiles_special_day_this_month,
        profiles_special_day_next_month: @profiles_special_day_next_month %>
  </div>

  <div>
    <%= render "profiles/search", q: @q, url: profiles_path %>
  </div>

  <div class="btn bg-peach text-black border-none shadow-2xl">
    <%= link_to new_profile_path do %>
      <button>連絡先を作成</button>
    <% end %>
  </div>
</div>

<div class="max-h-screen overflow-auto">
  <table class="table table-fixed text-center">
    <tr class="bg-white sticky top-0">
      <th class="w-1/12">連絡済み</th>
      <th class="w-1/12"></th>
      <th class="w-3/12">名前</th>
      <th class="w-2/12">誕生日</th>
      <th class="w-2/12">大切な日</th>
      <th class="w-1/12"></th>
      <th class="w-1/12"></th>
    </tr>

    <% @profiles.each do |profile| %>
      <tr id="profile_<%= profile.id %>">
        <td><%= profile.contacted %>
        <td><%= image_tag profile.avatar.variant(resize_to_limit: [100, 100]) if profile.avatar.attached? %></td>
        <td><%= profile.name %></td>
        <td><%= profile.events.first.date %></td>
        <td><%= profile.events.last.date %></td>
        <td>
          <% album = profile&.albums.sample %>
          <%= image_tag album.images.sample.variant(resize_to_limit: [100, 100]) if album&.images&.attached? %>
        </td>
        <td>
          <div class="flex justify-around">
            <div>
              <%= link_to profile_path(profile) do %>
                <i class="fa-solid fa-circle-info fa-2x"></i>
              <% end %>
            </div>
            <div>
              <%= link_to profile_path(profile), data: { turbo_confirm: "本当に削除しますか？", turbo_method: :delete } do %>
                <i class="fa-solid fa-trash fa-2x"></i>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
