<%= render "profiles/search", q: @q, url: profiles_path %>

<div class="pt-16">
  <h1 class="text-2xl text-white pt-10 pl-48">れんらく帳</h1>
  <%= render "event_notice",
      profiles_birthdays_this_month: @profiles_birthdays_this_month,
      profiles_birthdays_next_month: @profiles_birthdays_next_month,
      profiles_special_day_this_month: @profiles_special_day_this_month,
      profiles_special_day_next_month: @profiles_special_day_next_month %>

  <div class="flex justify-end pt-2 pr-48">
    <%= link_to new_profile_path do %>
      <button class="btn bg-peach text-black border-none shadow-2xl">連絡先を作成</button>
    <% end %>
  </div>
  <div class="px-48">
    <table class="table bg-white text-black text-center mt-2">
      <tr>
        <th></th>
        <th>名前</th>
        <th>誕生日</th>
        <th>大切な日</th>
      </tr>
      <% @profiles.each do |profile| %>
        <tr id="profile_<%= profile.id %>">
          <td><%= image_tag profile.avatar.variant(resize_to_limit: [100, 100]) if profile.avatar.attached? %></td>
          <td><%= profile.name %></td>
          <% profile.events.each do |event| %>
            <td><%= event.date %></td>
          <% end %>
          <td>
            <% album = profile.albums.sample if profile.albums.any? %>
            <%= image_tag album.images.sample.variant(resize_to_limit: [100, 100]) if album.images.attached? %>
          </td>
          <td>
            <%= link_to profile_path(profile) do %>
              <button class="btn bg-slate-300 text-black border-none shadow-2xl">詳細</button>
            <% end %>
          </td>
          <td>
            <%= link_to profile_path(profile), data: { turbo_confirm: "本当に削除しますか？", turbo_method: :delete } do %>
              <button class="btn bg-slate-300 text-black border-none shadow-2xl">削除</button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
