<div class="sm:flex sm:justify-around sm:items-center">
  <div class="border-2 border-black rounded-md p-2 m-4">
    <%= render "event_notice",
        profiles_birthdays_this_month: @profiles_birthdays_this_month,
        profiles_birthdays_next_month: @profiles_birthdays_next_month,
        profiles_special_day_this_month: @profiles_special_day_this_month,
        profiles_special_day_next_month: @profiles_special_day_next_month %>
  </div>

  <div>
    <%= render "profiles/search", q: @q, url: profiles_path %>
  </div>

  <div class="flex justify-center my-4">
    <%= link_to new_profile_path, class: "btn bg-peach text-black border-none shadow-lgl" do %>
      <button>連絡先を作成</button>
    <% end %>
  </div>
</div>

<div class="max-h-screen overflow-auto">
<!---スマホ画面用のブロック--->
  <div class="flex flex-col">
    <% @profiles.each do |profile| %>
      <div class="flex">
        <div class="w-1/12">
          <%= profile.contacted %>
        </div>
        <div class="w-2/12">
          <%= image_tag profile.avatar.variant(resize_to_limit: [100, 100]) if profile.avatar.attached? %>
        </div>
        <div class="w-6/12">
          <div class="text-5xl">
            <%= profile.name %>
          </div>
          <div>
            <%= profile.events.first.date %>
          </div>
          <div>
            <%= profile.events.last.date %>
          </div>
        </div>
        <div class="w-3/12 flex justify-around items-center">
          <div>
            <%= link_to profile_path(profile) do %>
              <i class="fa-solid fa-circle-info fa-lg"></i>
            <% end %>
          </div>
          <div>
            <%= link_to edit_profile_path(profile) do %>
              <i class="fa-solid fa-pen-to-square fa-lg"></i>
            <% end %>
          </div>
          <div>
            <%= link_to profile_path(profile), data: { turbo_confirm: "本当に削除しますか？", turbo_method: :delete } do %>
              <i class="fa-solid fa-trash fa-lg"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<!---PC画面用のテーブル--->
  <table class="table table-fixed text-center hidden sm:table">
    <tr class="bg-white sticky top-0">
      <th class="w-1/12">連絡済み</th>
      <th class="w-1/12"></th>
      <th class="w-3/12">名前</th>
      <th class="w-2/12">誕生日</th>
      <th class="w-2/12">大切な日</th>
      <th class="w-1/12"></th>
      <th class="w-1/12"></th>
    </tr>

    <% @profiles.each do |profile| %>
      <tr id="profile_<%= profile.id %>">
        <td><%= profile.contacted %>
        <td><%= image_tag profile.avatar.variant(resize_to_limit: [100, 100]) if profile.avatar.attached? %></td>
        <td class="text-left"><%= profile.name %></td>
        <td><%= profile.events.first.date %></td>
        <td><%= profile.events.last.date %></td>
        <td>
          <% album = profile&.albums.sample %>
          <%= image_tag album.images.sample.variant(resize_to_limit: [100, 100]) if album&.images&.attached? %>
        </td>
        <td>
          <div class="flex justify-around">
            <div>
              <%= link_to profile_path(profile) do %>
                <i class="fa-solid fa-circle-info fa-lg"></i>
              <% end %>
            </div>
            <div>
              <%= link_to edit_profile_path(profile) do %>
                <i class="fa-solid fa-pen-to-square fa-lg"></i>
              <% end %>
            </div>
            <div>
              <%= link_to profile_path(profile), data: { turbo_confirm: "本当に削除しますか？", turbo_method: :delete } do %>
                <i class="fa-solid fa-trash fa-lg"></i>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
