<% content_for(:tab_title, "連絡帳") %>

<div class="md:flex md:justify-around md:items-center">
  <div class="border-2 border-black rounded-md p-2 m-4">
    <%= render "event_notice",
        profiles_birthdays_this_month: @profiles_birthdays_this_month,
        profiles_birthdays_next_month: @profiles_birthdays_next_month,
        profiles_special_day_this_month: @profiles_special_day_this_month,
        profiles_special_day_next_month: @profiles_special_day_next_month %>
  </div>
</div>

<div class="relative overflow-x-auto sm:rounded-lg flex justify-center">
  <div class="w-11/12 shadow-lg border rounded-3xl border-slate-100 mt-8">
    <div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white">
        <div class="relative">
            <%= search_form_for @q, url: profiles_path, class: "flex items-center space-x-2" do |f| %>
              <div>
                <%= f.search_field :name_cont, placeholder: "名前", class: "block p-2 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" %>
              </div>
              <div>
                <%= f.search_field :furigana_cont, placeholder: "ふりがな", class: "block p-2 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" %>
              </div>
              <div>
                <%= f.search_field :line_name_cont, placeholder: "LINE名", class: "block p-2 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" %>
              </div>
              <div>
                <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-gray-600 rounded-lg border border-gray-600 hover:bg-gray-700">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </button>
              </div>
            <% end %>
        </div>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-gray-700 uppercase bg-gray-100">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
                        <label for="checkbox-all-search" class="sr-only">連絡とった！</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    名前
                </th>
                <th scope="col" class="px-6 py-3">
                    誕生日
                </th>
                <th scope="col" class="px-6 py-3">
                    大切な日
                </th>
                <th scope="col" class="px-6 py-3">
                </th>
            </tr>
        </thead>
        <tbody>
          <% @profiles.each do |profile| %>
            <tr class="bg-white border-b hover:bg-gray-50 ">
              <td class="w-4 p-4">
                  <div class="flex items-center">
                      <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
                      <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                  </div>
              </td>
              <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap">
                  <%= image_tag profile.avatar.variant(resize_to_limit: [50, 50]) if profile.avatar.attached? %>
                  <div class="ps-3">
                      <div class="text-base font-semibold"><%= profile.name %></div>
                      <div class="font-normal text-gray-500"><%= profile.email %></div>
                  </div>
              </th>
              <td class="px-6 py-4 font-semibold">
                  <%= profile.events.first.date %>
              </td>
              <td class="px-6 py-4 font-semibold">
                  <%= profile.events.last.date %>
              </td>
              <td class="px-6 py-4 font-semibold">
                <div class="flex justify-around">
                  <div>
                    <%= link_to profile_path(profile) do %>
                      <i class="fa-solid fa-circle-info fa-lg"></i>
                    <% end %>
                  </div>
                  <div>
                    <%= link_to edit_profile_path(profile) do %>
                      <i class="fa-solid fa-pen-to-square fa-lg"></i>
                    <% end %>
                  </div>
                  <div>
                    <%= link_to profile_path(profile), data: { turbo_confirm: "本当に削除しますか？", turbo_method: :delete } do %>
                      <i class="fa-solid fa-trash fa-lg"></i>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
<div class="flex justify-center my-4">
  <%= link_to new_profile_path, class: "btn bg-golden text-black border-none hover:bg-yellow-500" do %>
    <button>連絡先を作成</button>
  <% end %>
</div>





<!---スマホ画面用のブロック
<div class="flex flex-col md:hidden pb-20">
  <% @profiles.each do |profile| %>
    <div class="flex h-24 my-5">
      <div class="w-1/12 flex items-center justify-center">
        <%= profile.contacted %>
      </div>
      <div class="w-2/12 flex items-center">
        <%= image_tag profile.avatar.variant(resize_to_limit: [100, 100]) if profile.avatar.attached? %>
      </div>
      <div class="w-6/12">
        <div class="text-5xl h-12">
          <%= profile.name %>
        </div>
        <div>
          <i class="fa-solid fa-cake-candles"></i>
          <%= profile.events.first.date %>
        </div>
        <div>
          <i class="fa-solid fa-calendar-check"></i>
          <%= profile.events.last.date %>
        </div>
      </div>
      <div class="w-3/12 flex justify-around items-center">
        <div>
          <%= link_to profile_path(profile) do %>
            <i class="fa-solid fa-circle-info fa-lg"></i>
          <% end %>
        </div>
        <div>
          <%= link_to edit_profile_path(profile) do %>
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
          <% end %>
        </div>
        <div>
          <%= link_to profile_path(profile), data: { turbo_confirm: "本当に削除しますか？", turbo_method: :delete } do %>
            <i class="fa-solid fa-trash fa-lg"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
--->