<div>
  <%= link_to 'アルバム', '#'%>
  <%= link_to 'メモ', '#'%>
  <%= link_to '通知設定', profile_events_path(@profile) %>
</div>

名前: <%= @profile.name %><br>
ふりがな: <%= @profile.furigana %><br>
<% @profile.events.each do |event| %>
  <%= event.name %>
  <%= event.date %><br>
<% end %>
電話番号: <%= @profile.phone %><br>
メールアドレス: <%= @profile.email %><br>
LINE名: <%= @profile.line_name %><br>
出身地: <%= @profile.birthplace %><br>
住所: <%= @profile.address %><br>
職業: <%= @profile.occupation %><br>

<%= link_to '編集', edit_profile_path(@profile) %>
<%= link_to '削除', profile_path(@profile), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } %>