<div class="pt-20">
  <h1 class="text-2xl text-white pt-10 pl-10">れんらく帳(詳細)</h1>
  <div class="flex justify-end space-x-2 px-4">
  <!---
    <%= link_to '#' do %>
      <button class="btn bg-slate-300 text-black border-none shadow-2xl">アルバム</button>
    <% end %>
    <%= link_to '#' do %>
      <button class="btn bg-slate-300 text-black border-none shadow-2xl">メモ</button>
    <% end %>
    --->
    <%= link_to profile_events_path(@profile) do %>
      <button class="btn bg-peach text-black border-none shadow-2xl">通知設定</button>
    <% end %>
  </div>

  <div class="px-4 mt-4">
    <table class="table-auto border-collapse w-full border border-white">
      <tbody>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">名前</td>
          <td class="px-4 py-2 border-white"><%= @profile.name %></td>
        </tr>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">ふりがな</td>
          <td class="px-4 py-2 border-white"><%= @profile.furigana %></td>
        </tr>
        <% @profile.events.each do |event| %>
          <tr class="border-b border-white">
            <td class="px-4 py-2 border-r border-white font-bold"><%= event.name %></td>
            <td class="px-4 py-2 border-white"><%= event.date %></td>
          </tr>
        <% end %>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">電話番号</td>
          <td class="px-4 py-2 border-white"><%= @profile.phone %></td>
        </tr>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">メールアドレス</td>
          <td class="px-4 py-2 border-white"><%= @profile.email %></td>
        </tr>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">LINE名</td>
          <td class="px-4 py-2 border-white"><%= @profile.line_name %></td>
        </tr>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">出身地</td>
          <td class="px-4 py-2 border-white"><%= @profile.birthplace %></td>
        </tr>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">住所</td>
          <td class="px-4 py-2 border-white"><%= @profile.address %></td>
        </tr>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">職業</td>
          <td class="px-4 py-2 border-white"><%= @profile.occupation %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-center space-x-2 pt-4">
    <%= link_to edit_profile_path(@profile) do %>
      <button class="btn bg-slate-300 text-black border-none shadow-2xl">編集</button>
    <% end %>
    <%= link_to profile_path(@profile), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } do %>
      <button class="btn bg-slate-300 text-black border-none shadow-2xl">削除</button>
    <% end %>
  </div>

</div>