<% content_for(:tab_title, "連絡帳") %>


<div id="outer-frame" class="flex h-full flex-col md:flex-row">
  <%= render "shared/sidebar", profile: @profile%>
  <%= render "shared/top_tab", profile: @profile%>

  <div id="right-section" class="h-full w-full flex md:items-center justify-center">
    <div id="card" class="md:flex md:border md:rounded-3xl md:border-slate-100 md:bg-opacity-10 md:shadow-2xl w-fit mb-20 md:mb-0">
      <div id ="profile" class="flex flex-col flex-grow items-left justify-center md:mt-5">
        <div class="md:flex md:mb-16 justify-center">
          <div id="name" class="flex items-center ">
            <div id="avatar" class="mt-7">
              <% if @profile.avatar.attached? %>
                <%= image_tag @profile.avatar.variant(resize_to_limit: [200, 200]), class: "w-20 h-auto" %>
              <% else %>
                <%= image_tag "default_avatar.png", class: "w-20 h-auto" %>
              <% end %>
            </div>
            <div class="flex flex-col">
              <div class="text-xl tracking-widest">
                <%= @profile.furigana %>
              </div>
              <div class="text-4xl md:text-6xl">
                <%= @profile.name %>
              </div>
            </div>
          </div>
          <div id="icon" class="flex flex-col items-center md:justify-end mx-2">
            <div>
              <%= link_to edit_profile_path(@profile) do %>
                <i class="fa-solid fa-pen-to-square fa-lg"></i>
              <% end %>
            </div>
          </div>
        </div>

        <div id="info" class="flex md:px-5 py-4 md:py-2">
          <div>
            <div class="my-3 text-left">
              <i class="fa-solid fa-cake-candles fa-lg mr-2"></i>
              <span class="text-base md:text-lg"><%= @profile.events.first.date %></span>
            </div>
            <div class="my-3 text-left">
              <i class="fa-solid fa-calendar-check fa-lg mr-2"></i>
              <span class="text-base md:text-lg"><%= @profile.events.last.date %></span>
            </div>
            <div class="my-3 text-left">
              <i class="fa-solid fa-phone fa-lg mr-2"></i>
              <span class="text-base md:text-lg"><%= @profile.phone %></span>
            </div>
            <div class="my-3 text-left">
              <i class="fa-regular fa-envelope fa-lg mr-2"></i>
              <span class="text-base md:text-lg"><%= @profile.email %></span>
            </div>
            <div class="my-3 text-left">
              <i class="fa-solid fa-location-dot fa-lg mr-2"></i>
              <span class="text-base md:text-lg"><%= @profile.address %></span>
            </div>
            <div class="my-3 text-left">
              <i class="fa-brands fa-line fa-lg mr-2"></i>
              <span class="text-base md:text-lg"><%= @profile.line_name %></span>
            </div>
            <div class="my-3 text-left">
              <i class="fa-solid fa-check fa-lg mr-2"></i>
              <span class="text-base md:text-lg"><%= @profile.last_contacted_i18n %></span>
            </div>
            <div class="my-3 text-left">
              <i class="fa-solid fa-user-group fa-lg mr-2"></i>
              <span class="text-base md:text-lg"><%= @profile.group&.name %></span>
            </div>
            <div class="my-3 text-left w-full md:h-40 overflow-auto">
              <i class="fa-solid fa-pencil fa-lg mr-2"></i>
              <span class="text-base md:text-lg"><%= @profile.note %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
