<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col items-center justify-center">
    <!-- Page content here -->
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
      Open drawer
    </label>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <!-- Sidebar content here -->
      <li><a>Sidebar Item 1</a></li>
      <li><a>Sidebar Item 2</a></li>
    </ul>
  </div>
</div>

<div>
  <% if @profile.avatar.attached? %>
    <%= image_tag @profile.avatar.variant(resize_to_limit: [100, 100]) %>
  <% end %>
</div>

<div>
  <div>
    <%= @profile.furigana %>
  </div>
  <div>
    <%= @profile.name %>
  </div>
  <div>
    <%= link_to edit_profile_path(@profile) do %>
      <i class="fa-solid fa-pen-to-square fa-lg"></i>
    <% end %>
    <%= link_to profile_path(@profile), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } do %>
      <i class="fa-regular fa-trash-can fa-lg"></i>
    <% end %>
  </div>
</div>

<div>
  <i class="fa-solid fa-phone fa-lg"></i>
  <%= @profile.phone %>
</div>
<div>
  <i class="fa-regular fa-envelope fa-lg"></i>
  <%= @profile.email %>
</div>
<div>
  <i class="fa-solid fa-location-dot fa-lg"></i>
  <%= @profile.address %>
</div>
<div>
  <i class="fa-solid fa-cake-candles fa-lg"></i>
  <%= @profile.events.first.date %>
</div>
<div>
  <i class="fa-solid fa-calendar-check fa-lg"></i>
  <%= @profile.events.last.date %>
</div>




<div class="pt-20">
  <h1 class="text-2xl text-white pt-10 text-center">れんらく帳(詳細)</h1>
  <div class="flex justify-center space-x-2 pl-96">
  <!---
    <%= link_to '#' do %>
      <button class="btn bg-slate-300 text-black border-none shadow-2xl">アルバム</button>
    <% end %>
    <%= link_to '#' do %>
      <button class="btn bg-slate-300 text-black border-none shadow-2xl">メモ</button>
    <% end %>
    --->
    <%= link_to profile_events_path(@profile) do %>
      <button class="btn bg-peach text-black border-none shadow-2xl">通知設定</button>
    <% end %>
  </div>

  <div class="px-4 mt-10 flex justify-center">
    <table class="table-auto border-collapse w-auto border border-white">
      <tbody>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">名前</td>
          <td class="px-4 py-2 border-white"><%= @profile.name %></td>
        </tr>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">ふりがな</td>
          <td class="px-4 py-2 border-white"><%= @profile.furigana %></td>
        </tr>
        <% @profile.events.each do |event| %>
          <tr class="border-b border-white">
            <td class="px-4 py-2 border-r border-white font-bold"><%= event.name %></td>
            <td class="px-4 py-2 border-white"><%= event.date %></td>
          </tr>
        <% end %>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">電話番号</td>
          <td class="px-4 py-2 border-white"><%= @profile.phone %></td>
        </tr>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">メールアドレス</td>
          <td class="px-4 py-2 border-white"><%= @profile.email %></td>
        </tr>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">LINE名</td>
          <td class="px-4 py-2 border-white"><%= @profile.line_name %></td>
        </tr>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">出身地</td>
          <td class="px-4 py-2 border-white"><%= @profile.birthplace %></td>
        </tr>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">住所</td>
          <td class="px-4 py-2 border-white"><%= @profile.address %></td>
        </tr>
        <tr class="border-b border-white">
          <td class="px-4 py-2 border-r border-white font-bold">職業</td>
          <td class="px-4 py-2 border-white"><%= @profile.occupation %></td>
        </tr>
        <tr class="border-b border-white">
          <% if @profile.avatar.attached? %>
            <td class="px-4 py-2 border-r border-white font-bold">プロフィール画像</td>
            <td class="px-4 py-2 border-white"><%= image_tag @profile.avatar.variant(resize_to_limit: [100, 100]) %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-center space-x-2 pt-4">
    <%= link_to edit_profile_path(@profile) do %>
      <button class="btn bg-slate-300 text-black border-none shadow-2xl">編集</button>
    <% end %>
    <%= link_to profile_path(@profile), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } do %>
      <button class="btn bg-slate-300 text-black border-none shadow-2xl">削除</button>
    <% end %>
  </div>

</div>