<div class="flex flex-col items-center">
  <h1 class="text-3xl font-bold pt-20 pb-10">ユーザー登録</h1>
  <%= form_with model: @user do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="mb-4">
      <%= f.label :name, "名前", class: "block font-medium mb-1 text-black" %>
      <%= f.text_field :name, class: "w-full rounded p-2 bg-white border border-black" %>
    </div>
    <div class="mb-4">
      <%= f.label :email, "メールアドレス", class: "block font-medium mb-1 text-black" %>
      <%= f.email_field :email, class: "w-full rounded p-2 bg-white border border-black" %>
    </div>
    <div class="mb-4">
      <%= f.label :password, "パスワード", class: "block font-medium mb-1 text-black" %>
      <%= f.password_field :password, class: "w-full rounded p-2 bg-white border border-black" %>
    </div>
    <div class="mb-4">
      <%= f.label :password_confirmation, "パスワード再入力", class: "block font-medium mb-1 text-black" %>
      <%= f.password_field :password_confirmation, class: "w-full rounded p-2 bg-white border border-black" %>
    </div>
    <div class="flex justify-center">
      <%= f.submit "登録", class: "btn bg-slate-300 text-black border-none shadow-2xl" %>
    </div>
  <% end %>

  <%= link_to auth_at_provider_path(provider: :line) do %>
    <%= image_tag "btn_login_base.png", class:"w-32 h-auto mt-6"%>
  <% end %>

  <div class='mt-6'>
    <%= link_to login_path do %>
    <span class="underline underline-offset-1">ログインページへ</span>
    <% end %>
  </div>
</div>