<header class="<%= "absolute bg-white bg-opacity-30" if current_page?(root_path) %> top-0 left-0 w-full h-fit hidden sm:block">
  <nav class="flex justify-between items-center justify-center">
    <div class="ml-10">
      <%= link_to root_path do %>
        <span class="text-3xl sm:text-4xl">Reconnect</span><span class="text-lg sm:text-xl">～ともだちと再びつながるアプリ～</span>
      <% end %>
    </div>
    <div class="font-bold space-x-8 mr-10">
      <%= link_to "AIメッセージ作成", introduction_path(1) %>
      <%= link_to "連絡帳", profiles_path %>
      <%= link_to "ログイン", login_path %>
      <%= link_to new_user_path do %>
        <button class="btn bg-black text-white my-1">新規登録</button>
      <% end %>
    </div>
  </nav>
</header>