<!---スマホ画面用のフッター--->
<footer id="mobile-footer" class="fixed bottom-0 flex items-center justify-center h-12 bg-zinc-600 w-full md:hidden">
  <div class="flex justify-around text-white text-xs w-full">
    <div class="flex flex-col justify-center text-center">
      <div>
        <%= link_to introduction_path(1) do %>
          <i class="fa-regular fa-message fa-lg"></i>
          <p>AIメッセージ</p>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col justify-center text-center">
      <div>
        <%= link_to profiles_path do %>
          <i class="fa-regular fa-address-book fa-lg"></i>
          <p>連絡帳</p>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col justify-center text-center">
      <%= link_to how_to_use_path do %>
        <i class="fa-regular fa-circle-question fa-lg"></i>
        <p>使い方</p>
      <% end %>
    </div>
    <div class="flex flex-col justify-center text-center">
      <%= link_to login_path do %>
        <i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i>
        <p>ログイン</p>
      <% end %>
    </div>
    <div class="flex flex-col justify-center text-center">
      <%= link_to new_user_path do %>
        <i class="fa-solid fa-user-plus fa-lg"></i>
        <p>新規登録</p>
      <% end %>
    </div>
  </div>
</footer>


<!---PC画面用のフッター--->
<footer id="pc-footer" class="bottom-0 bg-cream-pink <%= "bg-gray-950 text-white" if current_page?(root_path) %> w-full left-0 hidden md:block min-h-10">
  <div class="flex justify-center items-center space-x-20 h-full">
    <%= link_to "利用規約", terms_path %>
    <%= link_to "プライバシーポリシー", privacy_policy_path %>
    <%= link_to "お問い合わせ", "https://forms.gle/jj8fcaibi2Tvb9Yt7" %>
  </div>
</footer>