<header class="bg-opacity-20 bg-black">
  <nav class="flex justify-between container mx-auto items-center p-4 text-white">
    <div class="text-3xl">
      <%= link_to "Reconnect　～ともだちと再びつながるアプリ～", '#' %>
    </div>
    <div class="font-bold space-x-8">
      <%= link_to "AIメッセージ作成", '#' %>
      <%= link_to "連絡帳", '#' %>
      <%= link_to "カレンダー", '#' %>
      <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %>
    </div>
  </nav>
</header>