<header>
  <div>
    <%= link_to "Reconnect　～ともだちと再びつながるアプリ～", '#' %>
    <%= link_to "AIメッセージ作成", '#' %>
    <%= link_to "連絡帳", '#' %>
    <%= link_to "カレンダー", '#' %>
    <%= link_to "ログイン", '#' %>
    <%= link_to "新規登録", '#' %>
  </div>
</header>