<aside id="default-sidebar" class="w-64 h-full transition-transform -translate-x-full sm:translate-x-0 hidden md:block" aria-label="Sidebar">
  <div class="h-full px-4  overflow-y-auto bg-stone-200 text-gray-900">
      <div class="flex items-center justify-center mt-4 mb-20">
        <% if profile.avatar.attached? %>
          <%= image_tag profile.avatar.variant(resize_to_limit: [50, 50]) %>
        <% else %>
          <%= image_tag "default_avatar", style: "width: 50px; height: 50px;" %>
        <% end %>
        <p class="text-lg font-bold"><%= @profile.name%></p>
      </div>
      <ul class="space-y-10 font-medium text-lg">
        <li class=
            "px-4 py-2 rounded-lg hover:bg-gray-100
            <%= sidebar_active_class(profile_path(profile))%>
            <%= sidebar_active_class(new_profile_path(profile))%>
            <%= sidebar_active_class(edit_profile_path(profile))%>
          ">
          <%= link_to "基本情報", profile_path(profile), class: "block w-full h-full" %>
        </li>
        <li class=
            "px-4 py-2 rounded-lg hover:bg-gray-100
            <%= sidebar_active_class(profile_albums_path(profile)) %>
            <%= sidebar_active_class(profile_album_path(profile, album)) if defined?(album) && album.persisted? %>
            <%= sidebar_active_class(edit_profile_album_path(profile, album)) if defined?(album) && album.persisted? %>
            <%= sidebar_active_class(new_profile_album_path(profile, album)) if defined?(album) %>
          ">
          <%= link_to "アルバム", profile_albums_path(profile), class: "block w-full h-full" %>
        </li>
        <li class=
            "px-4 py-2 rounded-lg hover:bg-gray-100
            <%= sidebar_active_class(profile_events_path(profile)) %>
          ">
          <%= link_to "通知設定", profile_events_path(profile), class: "block w-full h-full" %>
        </li>
        <li class="px-4 py-2 rounded-lg hover:bg-gray-100">
          <%= link_to profiles_path, class: "block w-full h-full" do %>
            連絡先一覧
          <% end %>
        </li>
      </ul>
  </div>
</aside>