<div class="w-full text-black text-sm md:text-base lg:text-2xl">
  <%= form_with model: @form, url: update_all_profile_events_path, method: :patch, data: { turbo: false } do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <%= f.fields_for :events do |i| %>
      <div class="grid grid-cols-2 lg:grid-cols-3 items-center gap-1 mb-4 text-center" data-index="<%= i.index %>">
        <div>
          <%= "#{i.object.name}の" %>
        </div>
        <div class="flex items-center space-x-1">
          <%= i.select :notification_timing, [0,1,3,7,14,30,60], selected: i.object.notification_timing, class: "text-black w-full" %>
          <p>日前に</p>
        </div>
        <div class="flex items-center space-x-1 col-span-2 col-start-2 lg:col-span-1">
          <p>通知</p>
        <%= i.select :notification_enabled, [["する", "on"], ["しない", "off"]] %>
        </div>
        <div>
          <%= i.hidden_field :date, value: i.object.date %>
          <%= i.hidden_field :name, value: i.object.name %>
          <%= i.hidden_field :profile_id, value: i.object.profile_id %>
        </div>
      </div>
    <% end %>
    <div class="flex justify-center">
      <%= f.submit '登録する', class: "btn bg-golden text-black border-none hover:bg-yellow-500" %>
    </div>
  <% end %>
</div>