<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content sm:flex">
    <!-- Page content here -->
    <table class="table table-fixed text-center mt-2">
      <tr>
        <th>日付</th>
        <th>タイトル</th>
        <th>サムネイル</th>
      </tr>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.date %></td>
          <td><%= album.title %></td>
          <td>
            <% if album.images.attached? %>
              <% album.images.each do |image| %>
                <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to profile_album_path(@profile, album) do %>
              <button class="btn bg-slate-300 text-black border-none shadow-2xl">詳細</button>
            <% end %>
            <%= link_to edit_profile_album_path(@profile, album) do %>
              <button class="btn bg-slate-300 text-black border-none shadow-2xl">編集</button>
            <% end %>
            <%= link_to profile_album_path(@profile, album), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } do %>
              <button class="btn bg-slate-300 text-black border-none shadow-2xl">削除</button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="drawer-side">
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4 text-lg justify-center items-center text-3xl">
      <!-- Sidebar content here -->
      <li class="m-3"><%= link_to "基本情報", profile_path(@profile) %></li>
      <li class="m-3"><%= link_to "アルバム", profile_albums_path(@profile) %></li>
      <li class="m-3"><%= link_to "通知設定", profile_events_path(@profile) %></li>
      <li class="m-3"><%= link_to profiles_path do %>
        <i class="fa-solid fa-backward"></i>連絡先一覧
        <% end %>
      </li>
    </ul>
  </div>
</div>


<!---
    <div class="grid grid-cols-4 gap-4 place-items-center w-full">
      <% @albums.each do |album| %>
        <div class="card bg-base-100 w-full shadow-xl">
          <figure>
            <% if album.images.attached? %>
              <%= image_tag album.images.first.variant(resize_to_limit: [100, 100]) %>
            <% end %>
          </figure>
          <div class="card-body">
            <h2 class="card-title"><%= album.title%></h2>
            <p><%= album.date %></p>
          </div>
        </div>
      <% end %>
    </div>
--->