<% content_for(:tab_title, "アルバム") %>

<div id="outer-frame" class="flex h-full flex-col md:flex-row">
  <%= render "shared/sidebar", profile: @profile%>
  <%= render "shared/top_tab", profile: @profile%>

  <div id="right-section" class="flex w-full items-center flex-col">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 w-full overflow-auto p-5 flex-grow">
      <% @albums.each do |album| %>
        <div class="h-44 md:h-72 bg-white border border-gray-200 rounded-lg shadow">
          <% if album.images.attached? %>
            <%= image_tag album.images.first.variant(resize_to_fill: [446, 192]), class: "rounded-t-lg" %>
          <% end %>
            <div class="flex flex-col p-2">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 truncate ..."><%= album.title %></h5>
              <div class="flex justify-end space-x-2">
                <div><%= album.date %></div>
                <%= link_to profile_album_path(@profile, album) do %>
                  <i class="fa-solid fa-circle-info fa-lg"></i>
                <% end %>
                <%= link_to edit_profile_album_path(@profile, album) do %>
                  <i class="fa-solid fa-pen-to-square fa-lg"></i>
                <% end %>
              </div>
            </div>
        </div>
      <% end %>
    </div>
    <%= link_to new_profile_album_path, class: "btn bg-golden text-black border-none hover:bg-yellow-500 mb-16 md:mb-5" do %>
      <button>アルバムを作成</button>
    <% end %>
  </div>
</div>