<div class="drawer lg:drawer-open h-full">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content bg-white flex flex-col sm:flex h-full">
    <div>
      <table class="table table-fixed text-center mt-2">
        <tr>
          <th class="w-2/12">日付</th>
          <th class="w-3/12">タイトル</th>
          <th class="w-3/12">サムネイル</th>
          <th class="w-2/12"></th>
        </tr>
        <% @albums.each do |album| %>
          <tr>
            <td class="h-32"><%= album.date %></td>
            <td class="h-32"><%= album.title %></td>
            <td class="h-32 flex justify-center">
              <%= image_tag album.images.first.variant(resize_to_limit: [100, 100]) if album.images.attached? %>
            </td>
            <td class="h-32">
              <div class="flex justify-around">
                <%= link_to profile_album_path(@profile, album) do %>
                  <i class="fa-solid fa-circle-info fa-lg"></i>
                <% end %>
                <%= link_to edit_profile_album_path(@profile, album) do %>
                  <i class="fa-solid fa-pen-to-square fa-lg"></i>
                <% end %>
                <%= link_to profile_album_path(@profile, album), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } do %>
                  <i class="fa-solid fa-trash fa-lg"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="flex justify-center my-4">
      <%= link_to new_profile_album_path, class: "btn bg-peach text-black border-none shadow-lgl" do %>
        <button>アルバムを作成</button>
      <% end %>
    </div>
  </div>
  <div class="drawer-side h-full">
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4 text-lg justify-center items-center text-3xl">
      <li class="m-3"><%= link_to "基本情報", profile_path(@profile) %></li>
      <li class="m-3"><%= link_to "アルバム", profile_albums_path(@profile) %></li>
      <li class="m-3"><%= link_to "通知設定", profile_events_path(@profile) %></li>
      <li class="m-3"><%= link_to profiles_path do %>
        <i class="fa-solid fa-backward"></i>連絡先一覧
        <% end %>
      </li>
    </ul>
  </div>
</div>


<!---
    <div class="grid grid-cols-4 gap-4 place-items-center w-full">
      <% @albums.each do |album| %>
        <div class="card bg-base-100 w-full shadow-xl">
          <figure>
            <% if album.images.attached? %>
              <%= image_tag album.images.first.variant(resize_to_limit: [100, 100]) %>
            <% end %>
          </figure>
          <div class="card-body">
            <h2 class="card-title"><%= album.title%></h2>
            <p><%= album.date %></p>
          </div>
        </div>
      <% end %>
    </div>
--->