<div class="flex items-center justify-center min-h-screen flex-col">
  <div class="border-white border-2 rounded-md p-10">
    <div class="mb-10 text-2xl text-peach">
      <%= @message %>
    </div>
    <div data-controller="clipboard", class="text-white" >
      <%= form_with url: "#", local: true do |form| %>
        <div>
          <%= form.label :message, "編集する" %><br>
          <%= form.text_area :message, value: @message, rows: 2, cols: 100, data: { clipboard_target: "source" } %>
        </div>
      <% end %>
      <button type="button", data-action= "clipboard#copy", data-clipboard-target= "copy_button", class="btn bg-white rounded-md text-black border-none shadow-2xl hover:bg-white" >
      コピーする
      </button>
    </div>
  </div>
</div>
<div>
  <%= link_to / do %>
    <button >トップページに戻る</button>
  <% end %>
</div>
<div>
  <%= link_to profiles_path do %>
    <button >連絡帳へ</button>
  <% end %>
</div>
