<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:tab_title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/ba69a80073.js" crossorigin="anonymous" defer></script>
  </head>

  <body class="bg-white text-black">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <%= render 'shared/flash_message' %>
    <main>
      <%= yield %>
      <%= breadcrumbs separator: "&rsaquo;" %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
