<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:tab_title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Stay Friends ～ともだちと再びつながるアプリ～" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://powerful-sands-04341-a27c5520cc0b.herokuapp.com/" />
    <meta property="og:image" content="<%= asset_url("ogp.png") %>" />
    <meta property="og:description" content="昔仲良かった友達と、再び連絡を取り合うことをサポートするサービスです" />
    <meta property="og:site_name" content="Stay_Friends" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@daichi911013" />
    <meta name="twitter:domain" content="https://powerful-sands-04341-a27c5520cc0b.herokuapp.com/" />
    <meta name="twitter:title" content="Stay Friends ～ともだちと再びつながるアプリ～" />
    <meta name="twitter:description" content="昔仲良かった友達と、再び連絡を取り合うことをサポートするサービスです" />
    <meta name="twitter:image" content="<%= asset_url("ogp.png") %>" />

    <%= favicon_link_tag "favicon.ico"%>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/ba69a80073.js" crossorigin="anonymous" defer></script>
  </head>

  <body class="flex flex-col h-screen bg-ivory-white text-black relative">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <%= render 'shared/flash_message' %>

    <main class="flex-grow">
      <%= yield %>
      <%= breadcrumbs separator: "&rsaquo;", class: "breadcrumbs text-center mt-4 sm:mt-10 #{'hidden sm:block' if current_page?(ai_message_path)}" %>
    </main>

    <% if logged_in? %>
      <%= render 'shared/footer' %>
    <% else %>
      <%= render 'shared/before_login_footer' %>
    <% end %>
  </body>
</html>
